/* Style the header with a grey background and some padding */

body {
  font-family: sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.flashes {
  font-family: sans-serif;
  font-size: 18px;
}

.div-feed {
  padding: 2em;
	border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  resize: vertical;
}

button {
	margin-top: 10px;
  background-color: dodgerblue;
  color:#ffffff;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	-webkit-appearance: button;
	border: 0;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 24px;
	font-size: 12px;
	font-weight: 700;
	padding: 13px 30px;
	letter-spacing: 1px;
	-webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out;
	transition: color .2s ease-in-out,background-color .2s ease-in-out;
}

button:hover {
  background-color: #006ba6;
}

.form {
  padding:2em;
}

.footer {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
