<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}Atom and RSS Reader</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap-grid.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <body>
        <header>
          <div class="header">
            <a href="/" class="logo">Atom RSS Reader</a>
            <div class="header-right">
              {% if current_user.is_authenticated == False %}
                <a class="active" href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
              {% else %}
                <a class="active" href="/">Hello {{current_user.username}}</a>
                <a href="/addfeed">Add Feed</a>
                <a href="/logout">Logout</a>
              {% endif %}
            </div>
          </div>
        </header>
        <main>
          <div class="row">
            <div class="col">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=flashes>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
            </div>
          </div>
          {% block main %}{% endblock %}

        </main>
        <footer>
          <div class="footer">
            Albain LAURENT - Adrien NICOLLE
          </div>
        </footer>
    </body>
</html>
