{% extends 'base.html' %}

{% block main %}
<section>
  <div class="col-lg-12 col-md-9 col-sm-12 col-xs-12">
  {% if feeds %}
  <h1>Your Feeds :</h1>

  {% for feed in feeds %}
  <div class="div-feed">
      <div class="row">
          <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
              <h2>{{ cleanhtml(feed.title) }}</h2>
              <p>{{ cleanhtml(feed.description) }}</p>
          </div>
          <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
              <a href="{{ feed.link }}">Read more</a>
          </div>
      </div>
  </div>
  {% endfor %}
  {% else %}
  <h1>No available Feeds :(</h1>
  {% endif %}

</section>
{% endblock %}
