{% extends 'base.html' %}

{% block main %}
<div class="row col-lg-12 col-md-9 col-sm-12 col-xs-12 justify-content-center form">
  <form method="POST">
    <h2>Register</h2>
      {% for field in form %}
        <div class="row col justify-content-center">
          {% if field.widget.input_type != 'hidden' %}
              {{ field.label() }}
              {% if field.errors %}
                  {% for error in field.errors %}
                    <div class="alert alert-error">{{ error }}</div>
                  {% endfor %}
              {% endif %}
          {% endif %}
          {{ field() }}
        </div>
      {% endfor %}
      <button class="row col justify-content-center" type="submit">Register</button>
  </form>
</div>
{% endblock %}
